<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.mapper.JobLogMapper">

    <resultMap id="BaseResultMap" type="com.job.entity.vo.JobLogVO">
        <id column="id" property="id"/>
        <result column="job_id" property="jobId"/>
        <result column="bean_name" property="beanName"/>
        <result column="method_name" property="methodName"/>
        <result column="params" property="params"/>
        <result column="result" property="result"/>
        <result column="error" property="error"/>
        <result column="times" property="times"/>
    </resultMap>

    <sql id="BaseColumns">
        id,
        job_id,
        bean_name,
        method_name,
        params,
        result,
        error,
        times
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM
        job_log
        <where>
            <if test="query.id!=null">
                AND id = #{query.id}
            </if>
            <if test="query.jobId!=null">
                AND job_id = #{query.jobId}
            </if>
            <if test="query.beanName!=null and query.beanName!=''">
                AND bean_name = #{query.beanName}
            </if>
            <if test="query.methodName!=null and query.methodName!=''">
                AND method_name = #{query.methodName}
            </if>
            <if test="query.params!=null and query.params!=''">
                AND params = #{query.params}
            </if>
            <if test="query.result!=null">
                AND result = #{query.result}
            </if>
            <if test="query.error!=null and query.error!=''">
                AND error = #{query.error}
            </if>
            <if test="query.times!=null">
                AND times = #{query.times}
            </if>
        </where>
    </select>

</mapper>
